body {
  background: #0b0f1a;
  color: white;
}

header {
  background: #000814;
}

nav a {
  color: #00bfff;
}

nav a:hover {
  color: white;
}

.card {
  background: #111827;
  border-radius: 10px;
  padding: 1rem;
}

.filters {
  text-align: center;
  margin: 1rem;
}

.filters button {
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border: none;
  background: #00bfff;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover {
  background: white;
}

.card {
  background: #111827;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.card {
  margin-bottom: 1.5rem;
}

/* MOBILE NAV DEFAULT (HIDDEN) */
nav {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: #0b1d3a;
  padding: 1rem;
}

/* WHEN MENU IS OPEN */
nav.open {
  display: flex;
}

/* NAV LINKS */
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HAMBURGER BUTTON */
#menu {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  nav {
    display: flex !important;
    flex-direction: column;
    background: none;
  }

  #menu {
    display: none;
  }
}